# Warm-up exercises 4

Now that you have read about opening different files and working with pandas, it's time for you to apply your knowledge. To prepare for the workshop, complete the following two warm-up exercises.

Some important notes for the exercises:

* These excercises are a warming up meant to help you get ready for class. Make sure to give them a try on all of them. If you get an error message, try to troubleshoot it (using Google often helps). If all else fails, go to the next excercise (but make sure to hand it in).
* As these excercises are meant to help you participate in the workshop and us to make sure you can get as much as possible from the tutorials, we do not expect perfect answers. However, this is important to show the effort you have put in the excercises and what obstacles you faced.

# Exercise 4.1

The json file `books.json` contains ratings of books. The json file is structured as follows: keys are titles of books and values the rating given to them on a scale from 1-10.

* Read the json file into a dictionary.

* Create a list of book titles that only contains books rated above average.

* Write that list into a csv file.

In [4]:
import json

with open('books.json', 'r') as file:
    data = json.load(file)

print(data)
print(type(data))

{'Hamlet, Prince of Denmark': 4, 'Antiquities of the Jews': 1, 'The Moon and Sixpence': 3, 'The Lock and Key Library: Classic Mystery and Detective Stories: Modern English': 2, 'What Men Live By, and Other Tales': 5, 'A Portrait of the Artist as a Young Man': 4, 'My Bondage and My Freedom': 1, 'A Vindication of the Rights of Woman: With Strictures on Political and Moral Subjects': 5, 'Trial of the Major War Criminals Before the International Military Tribunal, Vol. I: Nuremburg 14 November 1945-1 October 1946: Vol. I': 2, 'Line and Form (1900)': 4, "Lady Windermere's Fan": 9, 'The History Of The Decline And Fall Of The Roman Empire: Table of Contents with links in the HTML file to the two; Project Gutenberg editions (12 volumes)': 9, 'Jesus the Christ: A Study of the Messiah and His Mission According to Holy; Scriptures Both Ancient and Modern': 3, 'Self-Control Its Kingship and Majesty': 6, 'The Iliad of Homer: Translated into English Blank Verse by William Cowper': 1, 'Clarissa Harlowe; or the history of a young lady — Volume 1': 3, 'Simple Sabotage Field Manual': 7, 'Der Struwwelpeter: oder lustige Geschichten und drollige Bilder': 4, 'Woodcraft and Camping': 3, 'The Varieties of Religious Experience: A Study in Human Nature': 9, 'The Metamorphoses of Ovid, Books I-VII': 4, 'Household Stories by the Brothers Grimm': 3, 'Don Quijote': 9, 'The Elements of Drawing, in Three Letters to Beginners': None, 'Utopia': 6, 'A Shropshire Lad': 7, 'Nursing as Caring: A Model for Transforming Practice': 2, 'Famous Modern Ghost Stories': 8, 'Time In the Round': 8, 'The Secret Adversary': 9, 'Treasure Island': 5, 'The Tribes and Castes of the Central Provinces of India, Volume 1': 9, 'The Sketch-Book of Geoffrey Crayon': 1, 'The Communist Manifesto': 2, "A Beginner's Psychology": 7, 'Looking Backward, 2000 to 1887': 9, '"1812" Napoleon I in Russia': 2, 'She Stoops to Conquer; Or, The Mistakes of a Night: A Comedy': 4, "Letters of Abelard and Heloise: To which is prefix'd a particular account of their lives, amours, and misfortunes": 2, 'The Memoirs of Jacques Casanova de Seingalt, 1725-1798. Complete': 9, 'A Woman of No Importance': 5, 'A Princess of Mars': 1, 'The Wisdom of Father Brown': 4, 'Daddy-Long-Legs': 9, 'The Satyricon — Complete': 5, 'Dubliners': 9, 'The Works of Edgar Allan Poe — Volume 3': 5, 'The Importance of Being Earnest: A Trivial Comedy for Serious People': 1, 'Memoirs of Napoleon Bonaparte — Complete': 3, 'The Last Man': 2, 'In Bad Company and other stories': 2, 'Sonnets from the Portuguese': 1, 'Heart of Darkness': 8, 'The New Life (La Vita Nuova)': 7, "Alice's Abenteuer im Wunderland": 5, 'Cookery and Dining in Imperial Rome': 6, 'The Love of Monsieur': 2, 'History of Tom Jones, a Foundling': 8, 'Kim': 8, 'Lineage, Life and Labors of José Rizal, Philippine Patriot': 4, 'The Memoirs of the Conquistador Bernal Diaz del Castillo, Vol 1 (of 2): Written by Himself Containing a True and Full Account of the Discovery and Conquest of Mexico and New Spain.': 5, 'Beasts, Men and Gods': 5, 'The King in Yellow': 5, 'Myths & Legends of the Celtic Race': 4, "The Devil's Dictionary": 6, "A Connecticut Yankee in King Arthur's Court": 6, 'The Scarlet Letter': 7, 'Through the Looking-Glass': 8, "Lady Audley's Secret": 7, 'The Social Cancer: A Complete English Version of Noli Me Tangere': 3, "Voyage to Far N'jurd": 9, 'The Principles of Chemistry Volume I (of 2)': 7, 'The Art of War': 6, "Gulliver's Travels into Several Remote Nations of the World": 6, 'English Literature: Its History and Its Significance for the Life of the English-Speaking World': 5, 'The Man Who Was Thursday: A Nightmare': 4, 'The History of Don Quixote, Volume 1, Complete': 1, 'Laughter: An Essay on the Meaning of the Comic': 5, 'The Kama Sutra of Vatsyayana: Translated From the Sanscrit in Seven Parts With Preface, Introduction and Concluding Remarks': 6, 'The Poetics of Aristotle': 8, 'The Secret Garden': 2, 'The Arabian Nights Entertainments': 4, 'The Thirty-Nine Steps': 2, 'Fifty Famous Stories Retold': 6, 'As a Man Thinketh': 7, 'The Spectator, Volumes 1, 2 and 3: With Translations and Index for the Series': 9, 'The Picture of Dorian Gray': 6, 'Claudian, volume 1 (of 2): With an English translation by Maurice Platnauer': 1, 'People Soup': 4, 'Siddhartha: eine indische Dichtung': '3', 'Villette': '6', "Mark Twain's Speeches": 3, 'The Essays of "George Eliot": Complete': 7, 'The Consolation of Philosophy': 6, 'Les misérables Tome I: Fantine': 7, 'Nationalism': 4, "Cicero's Tusculan Disputations: Also, Treatises On The Nature Of The Gods, And On The Commonwealth": 3, 'Twice Told Tales': 3, 'The Woman in White': 5, 'The Vampyre; a Tale': 7, 'The Good Soldier': None}
<class 'dict'>

In [9]:
nonones = {k: v for k, v in data.items() if v is not None}

In [15]:
goodreads = []

for k,v in nonones.items():
    if int(v) > sum(int(x) for x in nonones.values())/len(nonones.values()):
        goodreads.append(k)
    else:
        pass
        
print(goodreads)

['What Men Live By, and Other Tales', 'A Vindication of the Rights of Woman: With Strictures on Political and Moral Subjects', "Lady Windermere's Fan", 'The History Of The Decline And Fall Of The Roman Empire: Table of Contents with links in the HTML file to the two; Project Gutenberg editions (12 volumes)', 'Self-Control Its Kingship and Majesty', 'Simple Sabotage Field Manual', 'The Varieties of Religious Experience: A Study in Human Nature', 'Don Quijote', 'Utopia', 'A Shropshire Lad', 'Famous Modern Ghost Stories', 'Time In the Round', 'The Secret Adversary', 'Treasure Island', 'The Tribes and Castes of the Central Provinces of India, Volume 1', "A Beginner's Psychology", 'Looking Backward, 2000 to 1887', 'The Memoirs of Jacques Casanova de Seingalt, 1725-1798. Complete', 'A Woman of No Importance', 'Daddy-Long-Legs', 'The Satyricon — Complete', 'Dubliners', 'The Works of Edgar Allan Poe — Volume 3', 'Heart of Darkness', 'The New Life (La Vita Nuova)', "Alice's Abenteuer im Wunderland", 'Cookery and Dining in Imperial Rome', 'History of Tom Jones, a Foundling', 'Kim', 'The Memoirs of the Conquistador Bernal Diaz del Castillo, Vol 1 (of 2): Written by Himself Containing a True and Full Account of the Discovery and Conquest of Mexico and New Spain.', 'Beasts, Men and Gods', 'The King in Yellow', "The Devil's Dictionary", "A Connecticut Yankee in King Arthur's Court", 'The Scarlet Letter', 'Through the Looking-Glass', "Lady Audley's Secret", "Voyage to Far N'jurd", 'The Principles of Chemistry Volume I (of 2)', 'The Art of War', "Gulliver's Travels into Several Remote Nations of the World", 'English Literature: Its History and Its Significance for the Life of the English-Speaking World', 'Laughter: An Essay on the Meaning of the Comic', 'The Kama Sutra of Vatsyayana: Translated From the Sanscrit in Seven Parts With Preface, Introduction and Concluding Remarks', 'The Poetics of Aristotle', 'Fifty Famous Stories Retold', 'As a Man Thinketh', 'The Spectator, Volumes 1, 2 and 3: With Translations and Index for the Series', 'The Picture of Dorian Gray', 'Villette', 'The Essays of "George Eliot": Complete', 'The Consolation of Philosophy', 'Les misérables Tome I: Fantine', 'The Woman in White', 'The Vampyre; a Tale']

# Exercise 4.2

For the second exercise, we'll use a popular example dataset. The dataset, called **iris**, contains data about flowers, and was first introduced by the British statistician and biologist Ronald Fisher in 1936. 

#### 2.1. Explore the data.

Load the csv file `Iris.csv` into pandas and check if the iris dataset contains missing values, check all column types and print all column names. If the dataset contains missing values, consider what you could do with them


Source of the dataset: https://www.kaggle.com/datasets/uciml/iris

In [16]:
# exercise 2.1

import pandas as pd

df = pd.read_csv('Iris.csv')

In [17]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [18]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [21]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [22]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

#### 2.2. Process the data.

Now, create a smaller dataset, called setosa, consisting only of observations from the setosa species. Compute descriptive statistics for the sepal_length and sepal_width in the newly created setosa dataset.

In [24]:
setosa = df[df['Species']=='Iris-setosa']

setosa.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
len(df.index)

150

In [26]:
len(setosa.index)

50

In [27]:
setosa.describe()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000