# Warm-up exercises 4

Now that you have read about opening different files and working with pandas, it's time for you to apply your knowledge. To prepare for the tutorial, complete the following two warm-up exercises.

Some important notes for the exercises:

* These excercises are a warming up meant to help you get ready for class. Make sure to give them a try on all of them. If you get an error message, try to troubleshoot it (using Google often helps). If all else fails, go to the next excercise (but make sure to hand it in).
* As these excercises are meant to help you participate in the workshop and us to make sure you can get as much as possible from the tutorials, we do not expect perfect answers. However, this is important to show the effort you have put in the excercises and what obstacles you faced.

# Exercise 4.1

The json file `books.json` contains ratings of books. The json file is structured as follows: keys are titles of books and values the rating given to them on a scale from 1-10.

* Read the json file into a dictionary.

* Create a list of book titles that only contains books rated above average.

* Write that list into a csv file.

In [1]:
import json

with open('books.json', mode = 'r', encoding = 'utf-8') as file:
    books = json.load(file)

print(type(books))

<class 'dict'>

In [ ]:
print(books)

In [2]:
nonones = {k: v for k, v in books.items() if v is not None}

In [3]:
goodreads = []

for k,v in nonones.items():
    if int(v) > sum(int(x) for x in nonones.values())/len(nonones.values()):
        goodreads.append(k)
    else:
        pass
       
#compare:
#average = sum(listy) / len(listy)
#print(average)

goodreads

['What Men Live By, and Other Tales',
 'A Vindication of the Rights of Woman: With Strictures on Political and Moral Subjects',
 "Lady Windermere's Fan",
 'The History Of The Decline And Fall Of The Roman Empire: Table of Contents with links in the HTML file to the two; Project Gutenberg editions (12 volumes)',
 'Self-Control Its Kingship and Majesty',
 'Simple Sabotage Field Manual',
 'The Varieties of Religious Experience: A Study in Human Nature',
 'Don Quijote',
 'Utopia',
 'A Shropshire Lad',
 'Famous Modern Ghost Stories',
 'Time In the Round',
 'The Secret Adversary',
 'Treasure Island',
 'The Tribes and Castes of the Central Provinces of India, Volume 1',
 "A Beginner's Psychology",
 'Looking Backward, 2000 to 1887',
 'The Memoirs of Jacques Casanova de Seingalt, 1725-1798. Complete',
 'A Woman of No Importance',
 'Daddy-Long-Legs',
 'The Satyricon — Complete',
 'Dubliners',
 'The Works of Edgar Allan Poe — Volume 3',
 'Heart of Darkness',
 'The New Life (La Vita Nuova)',
 "Alice's Abenteuer im Wunderland",
 'Cookery and Dining in Imperial Rome',
 'History of Tom Jones, a Foundling',
 'Kim',
 'The Memoirs of the Conquistador Bernal Diaz del Castillo, Vol 1 (of 2): Written by Himself Containing a True and Full Account of the Discovery and Conquest of Mexico and New Spain.',
 'Beasts, Men and Gods',
 'The King in Yellow',
 "The Devil's Dictionary",
 "A Connecticut Yankee in King Arthur's Court",
 'The Scarlet Letter',
 'Through the Looking-Glass',
 "Lady Audley's Secret",
 "Voyage to Far N'jurd",
 'The Principles of Chemistry Volume I (of 2)',
 'The Art of War',
 "Gulliver's Travels into Several Remote Nations of the World",
 'English Literature: Its History and Its Significance for the Life of the English-Speaking World',
 'Laughter: An Essay on the Meaning of the Comic',
 'The Kama Sutra of Vatsyayana: Translated From the Sanscrit in Seven Parts With Preface, Introduction and Concluding Remarks',
 'The Poetics of Aristotle',
 'Fifty Famous Stories Retold',
 'As a Man Thinketh',
 'The Spectator, Volumes 1, 2 and 3: With Translations and Index for the Series',
 'The Picture of Dorian Gray',
 'Villette',
 'The Essays of "George Eliot": Complete',
 'The Consolation of Philosophy',
 'Les misérables Tome I: Fantine',
 'The Woman in White',
 'The Vampyre; a Tale']

In [56]:
import csv

with open('goodreads.csv', 'w') as f:
      
    # using csv.writer method from CSV package
    write = csv.writer(f)
      
    write.writerow(goodreads)

# Exercise 4.2

For the second exercise, we'll use a popular example dataset. The dataset, called **iris**, contains data about flowers, and was first introduced by the British statistician and biologist Ronald Fisher in 1936. 

#### 2.1. Explore the data.

Load the csv file `Iris.csv` into pandas and check if the iris dataset contains missing values, check all column types and print all column names. If the dataset contains missing values, consider what you could do with them

In [41]:
import pandas as pd
iris = pd.read_csv("iris.csv")

#data types
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [42]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [44]:
#column names
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [43]:
#missing values
iris.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

#### 2.2. Process the data.

Now, create a smaller dataset, called setosa, consisting only of observations from the setosa species. Compute descriptive statistics for the sepal_length and sepal_width in the newly created setosa dataset.


Source of the dataset: https://www.kaggle.com/datasets/uciml/iris

In [45]:
#subsetting
setosa = iris[iris['Species']=='Iris-setosa']
setosa.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [46]:
#full descriptive stats for the two columns
setosa[['PetalWidthCm', 'PetalLengthCm']].describe()

       PetalWidthCm  PetalLengthCm
count      50.00000      50.000000
mean        0.24400       1.464000
std         0.10721       0.173511
min         0.10000       1.000000
25%         0.20000       1.400000
50%         0.20000       1.500000
75%         0.30000       1.575000
max         0.60000       1.900000